/*Not Include*/
.box {
 background: #5677fc;
 font-family: inherit;
 font-size: 12px;
 text-align: center;
 padding: 20px 0; 
 border: 1px solid #eee;}
.box--new {
 background: #5677fc; 
}

/*****************************Framework Starts From Here******************************/
/*
 * Remove default Margin.
 */
 html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; 
}
body {
  margin: 0; 
  font-family: sans-serif;
  font-size: 14px;
}
*, 
*:before, 
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article, 
aside, 
details,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
ul {
    padding: 0;
  list-style-type: none; 
}    
/*
*Typography
*/
h1, 
h2, 
h3, 
h4, 
h5, 
h6{
  font-family: inherit;
  font-weight: 300;
  line-height: 1.4;
  margin: 10px 0px 10px 0px;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 34px;
}
h3{
  font-size: 28px;
}
h4{
  font-size: 22px;
}
h5{
  font-size: 18px;
}
h6{
  font-size: 12px;
}
p{
  margin: 0 0 8px;
}
pre{
  overflow: auto;
}
a, 
a:visited{
  color:#304FFE;
  text-decoration: none;
}
a:active, 
a:hover {
  outline: 0;
}
.text-warning{
  color: #FFEB3B;
}
.text-success{
  color: #00C853;
}
.text-danger{
  color: #f44336;
}
.text-muted{
  color: #9E9E9E;
}
a.text-warning:hover{
  color: #FFD600;
}
a.text-success:hover{
  color: #4CAF50;
}
a.text-danger:hover{
  color: #d50000;
}
a.text-muted:hover{
  color: #212121;
}